.about-bg {
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #cdd1d8;
    padding: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 20px;
}
.about-icon {
    margin-right: 10px;
}
.friend-bg {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #cdd1d8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.friends-box {
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #dee0e5;
    padding: 10px;
    margin-bottom: 20px;
}
.friends-image {
    margin-right: 10px;
}
.friends-botton {
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    border-radius: 4px;
    background: #80c56a;
    color: #fff;
    border: 0px;
    transition: all 400ms ease-out 0s;
    margin-top: 40px;
    float: right;
}

.friends-botton.focus,
.friends-botton:focus,
.friends-botton:hover {
    transition: all 400ms ease-out 0s;
    cursor: pointer;
    color: #fff;
    background-color: #01afee;
}
.clear {
    clear: both;
}
.image {
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0) no-repeat scroll 0 0 / cover;
    background-size: contain;
    border: 5px solid #fff;
border-radius: 4px;
margin-right: 10px;
}