<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h3 class="modal-title">Confirm</h3>
    </div>
      <div class="modal-body" style="height: 68px;">
        <h4>Do you want to delete?</h4>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirmDelete()">Delete</button>
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
      </div>
  </div>
</div>
