/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Khmer UI";
    font-size: 14px;
    line-height: 24px;
    color: #242d36;
    background-color: #a0bc9d;
    background: -webkit-linear-gradient(top, #fff, #a0bc9d);
    /*background: -o-linear-gradient(top, #fff, #a0bc9d);*/
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#a0bc9d));*/
    
    /*background: -moz-linear-gradient(top, #fff, #a0bc9d);*/
    /*background: -ms-linear-gradient(top, #fff, #a0bc9d);*/
    
}

h1 {
    font-size: 30px;
    color: #242d36;
    font-weight: normal;
    text-align: left;
    float: left;
    text-transform: uppercase;
    line-height: 50px;
    width: 100%;
    padding: 0px;
}

h1 span {
    font-size: 30px;
    color: #80c56a;
    font-weight: bold;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    color: #242d36;
    font-weight: normal;
    text-align: left;
    float: left;
    text-transform: uppercase;
    width: 100%;
    line-height: 0px;
    padding-top: 25px;
}

h3 {
    font-size: 24px;
    color: #242d36;
    font-weight: normal;
    text-align: left;
    float: left;
    text-transform: uppercase;
    width: 100%;
    line-height: 24px;
}

h4 {
    font-size: 18px;
    color: #242d36;
    font-weight: normal;
    text-align: left;
    float: left;
    text-transform: uppercase;
    width: 100%;
    line-height: 20px;
}

h5 {
    font-size: 14px;
    color: #242d36;
    font-weight: normal;
    text-align: left;
    float: left;
    text-transform: uppercase;
    width: 100%;
    line-height: 20px;
    margin-top: 10px;
}

.clear {
    clear: both;
}

.navbar {
    min-height: 100px;
}

.navbar-default .navbar-toggle {
    margin-top: 32px;
    border: 1px solid #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: 0px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #80c56a;
}

.navbar-default {
    background-color: #01afee;
    border: 0px;
    border-top: 2px solid #80c56a;
    border-radius: 0px;
}

.navbar-brand {
    padding: 0px 15px;
}

input[type="radio"],
input[type="checkbox"] {
    float: left;
    margin-right: 10px;
}

.form-control {
    border-radius: 0px;
    height: 47px;
    border: 0px;
    margin-top: 0px;
}

.form-control-singup {
    border-radius: 0px;
    height: 47px;
    border: 0px;
    margin-top: 0px;
    background-color: #fff;
    border: 1px solid #d1d7d6;
    width: 100%;
    margin-top: 5px;
    padding-left: 10px;
    color: #aaaaaa;
}

.login-button {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    border-radius: 0px;
    border: 0px;
    border-bottom: 3px solid #80c56a;
    background: #242d36;
    color: #fff;
    transition: all 400ms ease-out 0s;
    margin-top: 20px;
}

.login-button.focus,
.login-button:focus,
.login-button:hover {
    transition: all 400ms ease-out 0s;
    cursor: pointer;
    color: #ef293a;
    border-bottom: 3px solid #242d36;
    background: #80c56a;
    color: #fff;
}

.creat-button {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    border-radius: 0px;
    border: 0px;
    border-bottom: 5px solid #01afee;
    background: #242d36;
    color: #fff;
    transition: all 400ms ease-out 0s;
    margin-top: 20px;
    width: 100%;
    text-transform: uppercase;
}

.creat-button.focus,
.creat-button:focus,
.creat-button:hover {
    transition: all 400ms ease-out 0s;
    cursor: pointer;
    color: #ef293a;
    border-bottom: 5px solid #242d36;
    background: #01afee;
    color: #fff;
}

.social-image {
    width: 100%;
    margin-top: 30px;
}

.footer-bubble {
    width: 100%;
    padding-top: 130px;
    background: url(../../../assets/images/footer.png) repeat-x;
}

.footer-bg {
    width: 100%;
    background-color: #80c56a;
}

.footer-bg p {
    font-size: 14px;
    color: #fff;
    padding: 0px;
    line-height: 20px;
    padding-bottom: 20px;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: left;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    color: #242d36;
}

.topnav .icon {
    display: none;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}