<div class="container">
  <nav *ngIf="adminCheck" class="navbar navbar-default" style="margin-top: 60px;width: 87%;z-index: 1;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" (click)="collapseMenu()" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
      </div>
      <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li style="cursor: pointer;" ><a class="anchor-top" (click)="navigate('page/'+id)">Page</a></li>
              <li style="cursor: pointer;" ><a class="anchor-top">Messages</a></li>
              <li style="cursor: pointer;" ><a class="anchor-top">Notification</a></li>
        </ul>      
        <ul class="nav navbar-nav navbar-right">
          <li style="cursor: pointer;"><a class="anchor-top" (click)="settingShow()">Page Settings</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div *ngIf="!settingCheck">
      <page-main-component [adminCheck]="adminCheck" [pageDataInput]="pageData" [id]="id" [likedCheck]="likedCheck" [margin]="margin"></page-main-component>
  </div>
  <div *ngIf="settingCheck">
    <page-setting-component [pageDataInput]="pageData"></page-setting-component>
  </div>
</div>