
<div class="col-sm-12 col-md-12">
    <div class="community-box">
        <div class="page-like">
            <h3>About</h3>
            <h5>Contact Info</h5>
        </div>
        <div class="clear"></div>
        <div class="bottom"></div>
        <div class="page-like">
            <h3 style="width: 73%;">@RelationshipR69</h3>
            <a class="page-like-botton" href="#">Send Message</a>
            </div>
            <div class="page-like">
                <h5>More Info</h5>
            </div>
            <div class="clear"></div>
            <div class="bottom"></div>
            <div class="page-like">
                <h3>About</h3>
            </div>
        <div class="clear"></div>
        
    </div>
    
</div>
