a {
    padding-top: 9px;
    padding-bottom: 8px;

    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 33px;
    color: #fff;
}


a:hover,
a:focus {
    background-color: #80c56a;
    color: #fff;
    text-decoration:none;
}
@media(max-width:800px) {
    a {
        padding-top: 9px;
        padding-bottom: 8px;
    
        position: relative;
        display: block;
        padding: 7px 15px;
        line-height: 31px;
        color: #fff;
    }
}
