<div role="tabpanel" class="tab-pane active" id="home">
  <form (ngSubmit)="f.form.valid && submitPost()" #f="ngForm" novalidate>
    <textarea class="form-control" rows="3" name="content" [(ngModel)]="post.content" #content="ngModel" required placeholder="What’s is your mind?"></textarea>
    <div class="status-bg">
      <div class="text-right">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-group" role="group">
              <select class="btn btn-default dropdown-toggle" style="width: 100px;height: 40px;" name="privacy">
              <option *ngFor="let x of privacy" [selected]="x.title === selectedPrivacy">{{x}}</option>
            </select>
            <!-- <button  type="button" (click)="collapseMenu()" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Public<span class="caret"></span></button>
            <div class="collapse navbar-collapse" [collapse]="isCollapsed">
              <ul class="dropdown">
                <li><a href="#">Dropdown link</a></li>
                <li><a href="#">Dropdown link</a></li>
              </ul>
            </div> -->
          </div>
        </div>
        <button type="submit" class="post-botton">Post</button>
      </div>
    </div>
  </form>
</div>