<photos-component [tabPhotos]="tabPhotos" [user_Id]="userId"></photos-component>
		<!-- <div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + 'images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + 'images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + 'images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + 'images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + 'images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + 'images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + 'images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + 'images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + '/images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + 'images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + '/images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + 'images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + 'images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + 'images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + 'images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + 'images/photo-large-1.png'" alt=""/></a>
		</div>
		<div class="col-sm-2">
			<a href="#"><img class="photo-profile" [src]="asset_url + 'images/photo-large-1.png'" alt=""/></a>
		</div> -->

