<!--Inbox Start-->
<div class="container">
    <div class="row">
      <div class="col-sm-4" style="padding-right: 0px; padding-left: 0px;">
        <div class="inbox-top-bg">
          <div class="col-sm-6">
            <h3>Message</h3>
          </div>
          <div class="col-sm-6 hidden-xs">
            <a href="#"><img class="inbox-icon" [src]="asset_url + 'images/inbox-icon.png'" alt=""/></a>
          </div>
  
          <div class="clear"></div>
        </div>
        <div class="inbox-bg">
          <input type="text" class="form-control-1" placeholder="Search">
          <div>
  
            <!-- Nav tabs -->
            <div class="col-sm-12" style="padding: 0px;">
              <ul class="nav nav-tabs-3" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><img class="inbox-image" [src]="asset_url + 'images/inbox-image.png'" alt=""/>Ali Ahmed</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><img class="inbox-image" [src]="asset_url + 'images/inbox-image-1.png'" alt=""/>Faisal Farooq</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><img class="inbox-image" [src]="asset_url + 'images/inbox-image-2.png'" alt=""/>Naila Ali</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><img class="inbox-image" [src]="asset_url + 'images/inbox-image-3.png'" alt=""/>Waqas Ahmed</a></li>
                <li role="presentation"><a href="#res" aria-controls="settings" role="tab" data-toggle="tab"><img class="inbox-image" [src]="asset_url + 'images/inbox-image-4.png'" alt=""/>Umer Arshad</a></li>
                <li role="presentation"><a href="#save" aria-controls="settings" role="tab" data-toggle="tab"><img class="inbox-image" [src]="asset_url + 'images/inbox-image-5.png'" alt=""/>Faiza Umer</a></li>
                <li role="presentation"><a href="#save-1" aria-controls="settings" role="tab" data-toggle="tab"><img class="inbox-image" [src]="asset_url + 'images/inbox-image-6.png'" alt=""/>Furqan Raheem</a></li>
                <li role="presentation"><a href="#save-2" aria-controls="settings" role="tab" data-toggle="tab"><img class="inbox-image" [src]="asset_url + 'images/inbox-image-7.png'" alt=""/>Zaheer Arshad</a></li>
                <li role="presentation"><a href="#save-3" aria-controls="settings" role="tab" data-toggle="tab"><img class="inbox-image" [src]="asset_url + 'images/inbox-image-8.png'" alt=""/>Kiran </a></li>
              </ul>
            </div>
  
            <!-- Tab panes -->
  
  
          </div>
          <div class="clear"></div>
        </div>
  
  
      </div>
      <div class="col-sm-8" style="padding-left: 0px; padding-right: 0px;">
        <div class="inbox-top-bg-1">
          <div class="col-sm-11">
            <h3 style="text-align: center;"><span>Ali Ahmed</span></h3>
          </div>
          <div class="col-sm-1 hidden-xs">
            <a href="#"><img class="inbox-setting-icon" [src]="asset_url + 'images/inbox-setting-icon.png'" alt=""/></a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="inbox-bg-1">
          <div class=" col-sm-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <a href="#"><img class="message-large-image" [src]="asset_url + 'images/message-large-image.png'" alt=""/></a>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <textarea class="form-control-inbox" rows="3" placeholder="Type a message"></textarea>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/photo-icon.png'" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/audio-icon.png'" width="17" height="13" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/video-icon.png'" width="14" height="9" alt=""/></a>
              </div>
              <div role="tabpanel" class="tab-pane" id="profile">
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <textarea class="form-control-message-1" rows="3" placeholder="Type a message"></textarea>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/photo-icon.png'" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/audio-icon.png'" width="17" height="13" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/video-icon.png'" width="14" height="9" alt=""/></a>
              </div>
              <div role="tabpanel" class="tab-pane" id="messages">
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <textarea class="form-control-message-1" rows="3" placeholder="Type a message"></textarea>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/photo-icon.png'" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/audio-icon.png'" width="17" height="13" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/video-icon.png'" width="14" height="9" alt=""/></a>
              </div>
              <div role="tabpanel" class="tab-pane" id="settings">
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <textarea class="form-control-message-1" rows="3" placeholder="Type a message"></textarea>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/photo-icon.png'" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/audio-icon.png'" width="17" height="13" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/video-icon.png'" width="14" height="9" alt=""/></a>
              </div>
              <div role="tabpanel" class="tab-pane" id="save">
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <textarea class="form-control-message-1" rows="3" placeholder="Type a message"></textarea>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/photo-icon.png'" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/audio-icon.png'" width="17" height="13" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/video-icon.png'" width="14" height="9" alt=""/></a>
              </div>
              <div role="tabpanel" class="tab-pane" id="save-1">
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <textarea class="form-control-message-1" rows="3" placeholder="Type a message"></textarea>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/photo-icon.png'" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/audio-icon.png'" width="17" height="13" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/video-icon.png'" width="14" height="9" alt=""/></a>
              </div>
              <div role="tabpanel" class="tab-pane" id="save-2">
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <textarea class="form-control-message-1" rows="3" placeholder="Type a message"></textarea>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/photo-icon.png'" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/audio-icon.png'" width="17" height="13" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/video-icon.png'" width="14" height="9" alt=""/></a>
              </div>
              <div role="tabpanel" class="tab-pane" id="save-3">
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image" [src]="asset_url + 'images/message-image.png'" alt=""/></a>
                  <div class="message">Hi how are you</div>
                  <p style="padding-left: 120px; font-size:10px; color: #959595; padding-top: 0px;">12:35 PM</p>
                </div>
                <div class="col-sm-12 col-xs-12"><a href="#"><img class="message-image-1" [src]="asset_url + 'images/message-image-1.png'" alt=""/></a>
                  <div class="message-1">I am good</div>
                  <div class="clear"></div>
                  <p style="padding-right:80px; font-size:10px; color: #959595; padding-top: 0px; float: right;">12:35 PM</p>
                </div>
                <textarea class="form-control-message-1" rows="3" placeholder="Type a message"></textarea>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/photo-icon.png'" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/audio-icon.png'" width="17" height="13" alt=""/></a>
                <a href="#"><img class="message-photo-icon" [src]="asset_url + 'images/video-icon.png'" width="14" height="9" alt=""/></a>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
